/*--- reset.scss ---*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

html{
    color: #111;
    -webkit-text-size-adjust:none;
}
body, button, input, select, textarea , pre {
    font-size: 16px;
    font-family: PingFang SC, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
h3,h4,h5,h6{
    font-weight: normal;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: #3c76ff;
}
a:hover {
    cursor: pointer;
}
fieldset, img {
    border:0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
textarea {
    resize: vertical;
}