{
    "errInfo":{
        "no": "0",
        "msg": "成功"
    },
    "data": {
        "newsCardList": [
            {
                "img": "t09.jpg",
                "title": "【星光闪耀 童画天空】小金星国际教育集团福州地区2017年创意美术展",
                "desc": "小金星国际教育集团副总裁江女士参加了美展开幕式，小金星国际教育集团教学总监文女士为创意美展致开幕词，小金星幼儿园福州地区星光闪耀·童画天空”暨“喜迎元旦”创意美术展盛大开幕啦！",
                "time": "2018-02-07"
            },
            {
                "img": "t10.jpg",
                "title": "【凝心聚力，行稳致远】——记小金星国际教育集团2016年度高管会",
                "desc": "2016年8月11日，小金星国际教育集团2016年度高管工作会议，在福建省山水秀丽的三明清流“天芳悦潭”温泉休闲山庄举行",
                "time": "2017-07-25"
            }
        ],
        "newsDetailList": [
            {
                "title": "【凝心聚力，行稳致远】——记小金星国际教育集团2016年度高管会",
                "author": "小金星",
                "time": "2018-02-07",
                "readerNum": "354",
                "desc": "小金星国际教育集团董事长谢燕川女士庄严宣布，任命柯欣彤女士为小金星国际教育集团执行董事、财务总监，为“小金星”发展注入新的力量。小金星国际教育集团董事长谢燕川女士庄严宣布，任命柯欣彤女士为小金星国际教育集团执行董事、财务总监，为“小金星”发展注入新的力量。"
            }
        ]
    }
}