/*--- style about.html ---*/
@import '../../common/style/mainfn.scss';

.goldStar-about {
    @at-root {
        .goldStar-indexpage-main {
            background: url('../../common/image/t01.jpg') no-repeat center top;
            width: 100%;
            overflow: hidden;
            clearfix: both;
            @include px2rem(padding-top, 20);
        }
        .goldStar-request-msg {
            color: #f00;
            @include px2rem(font-size, 20);
            @include px2rem(padding-top, 100);
        }
    }
}